@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
  letter-spacing: -0.41px;
  // background-color: var(--tg-theme-bg-color);
  background-color: #fff;
  --primary-color: #004697;
  // --tg-theme-bg-color: #18222d;
  // --tg-theme-secondary-bg-color: #131415;
  // --tg-theme-text-color: #fff;
  // --tg-theme-hint-color: #b1c3d5;
  // --tg-theme-link-color: #62bcf9;
  // --tg-theme-button-color: #2ea6ff;
  // --tg-theme-button-text-color: #fff;

  // white schema colors
  --tg-theme-bg-color: #fafafa;
  --tg-theme-secondary-bg-color: #efeff3;
  --tg-theme-text-color: #000;
  --tg-theme-hint-color: #999;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #fff;
}

// body.order-mode {
//   background-color: var(--bg-color);
// }

//Hiding arrows in input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.slick-slider {
  width: 100%;
  height: 100%;
  .slick-list {
    width: 100%;
    height: 100%;
    .slick-track {
      width: 100%;
      height: 100%;
      .slick-slide {
        width: 100%;
        height: 100%;
        div {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .slick-dots {
    bottom: -30px;
  }

  .slick-prev {
    left: 5px;
    z-index: 100;
    &::before {
      font-size: 1.5rem;
      color: var(--primary-color);
    }
  }
  .slick-next {
    right: 5px;
    z-index: 1;
    &::before {
      font-size: 1.5rem;
      color: var(--primary-color);
    }
  }
}





